.place__title {
    display: grid;
    max-width: 100%;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 32px;
}


@media screen and (max-width: 320px) {

    .place__title {
        max-width: 90%;
        margin: auto;
        padding-left: 0;
    }
}

@media screen and (max-width: 767px) {

    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px;
    }
}