@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Inter-Regular.woff2") format("woff2"),
        url("./fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Inter-Bold.woff2") format("woff2"),
        url("./fonts/Inter-Bold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Inter-Black.woff2") format("woff2"),
        url("./fonts/Inter-Black.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Inter-Light.woff2") format("woff2"),
        url("./fonts/Inter-Light.woff") format("woff");

}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Inter-Medium.woff2") format("woff2"),
        url("./fonts/Inter-Medium.woff") format("woff");

}

.page {
    background-color: #2A2C2F;
    font-family: "Inter", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 16px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 28px 24px 0 24px;
    }
}


@media screen and (min-width: 1024px) {
    .header {
        padding: 28px 48px 0 48px;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        margin: 0 auto;
        padding: 28px 0 0 0;
        max-width: 1184px;
    }
}

.header__logo {
    max-width: 176px;
    max-height: 52px;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 142px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {

        max-width: 142px;
    }
}

.header__lang {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    line-height: 1.11;
}


@media screen and (min-width: 768px) {
    .header__lang {
        font-size: 24px;
        line-height: 1.17;
    }
}

.header__lang-link {
    max-height: 28px;
    width: 100%;
    padding-left: 18px;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

.header__lang-link:first-child {
    padding-left: 0;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}


.header__lang-links {
    display: flex;
    align-items: space-between;
    padding-top: 18px;

}

@media screen and (max-width: 320px) {
    .header__lang-links {
        padding-top: 14px;
    }
}

.header__lang-link_after {
    border-bottom: 2px solid;
    color: orange;
}

.content {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .content {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .content {
        max-width: 320px;
    }
}

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
    .lead {

        padding-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: 768px;
        margin-bottom: 92px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        margin: 46px auto 64px;
    }
}

.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    max-width: 720px;
    padding-bottom: 32px;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        margin: 0 104px 0;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}

.lead__subtitle {
    max-width: 640px;
    width: 100%;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    padding: 32px 0;
    padding-bottom: 63px;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        padding: 32px 0 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        line-height: 20px;
        font-size: 16px;
        margin: 0 64px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding: 16px 0 40px;
    }
}

.lead__image {
    width: 100%;
    height: auto;
}

.lead__caption {
    align-self: start;
    max-width: 170px;
    font-weight: 400;
    font-size: 10px;
    margin: 0;
    padding: 0 auto;
    letter-spacing: 1.5px;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        padding-left: 15px;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        padding-left: 15px;
    }
}

.intro {
    margin: 92px 148px;
    max-width: 690px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 720px;
        margin: 0 24px 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 285px;
        margin: 0 16px 64px;
    }
}

.intro__title {
    width: 100%;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}

.intro__text {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    margin: 40px 0 33px;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .intro__text {
        max-width: none;
    }
}

@media screen and (max-width: 768px) {
    .intro__text {
        margin: 39px 0 33px;
        max-width: 720px;
    }
}

.intro__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}

.intro__span-count {
    font-weight: 400;
}

.intro__span-count::before {
    content: '\2192';
    color: red;
}

.photos {
    display: grid;
    margin: 0 auto;
    list-style: none;
    width: calc(100% - 2 * 48px);
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    grid-template-rows: auto;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .photos {
        gap: 14px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        gap: 15px;
        width: calc(100% - 2 * 23px);
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 320px) {
    .photos {
        gap: 12px;
        width: calc(100% - 2 * 16px);

    }
}

.photos__item {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.photos__item:hover {
    opacity: 0.5;
    /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
    transform: scale(1.05);
    /* Увеличение картинки */
}

.places {
    max-width: 100%;
    padding-top: 92px;
    padding-bottom: 12px;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .places {
        padding-bottom: 6px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        width: 100%;
    }
}


@media screen and (max-width: 320px) {
    .places {
        padding: 0;
    }
}

.place {
    max-width: 984px;
    display: grid;
    column-gap: 40px;
    row-gap: 48px;
    margin: 0 auto 80px;
    grid-template-columns: 46.8% 49.2%;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 90.6%;
        column-gap: 32px;
        grid-template-columns: 47.5% 49.2%;
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 94%;
        row-gap: 47px;
        column-gap: 28px;
        margin: 0 auto 72px;
        grid-template-columns: 47.3% 48.9%;
    }
}

@media screen and (max-width: 640px) {
    .place {
        display: block;
        padding: 0;
        width: 100%;
        margin: 0 auto 0;
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        margin: 0 0 48px;
    }
}

.place__title {
    display: grid;
    max-width: 100%;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 32px;
}


@media screen and (max-width: 320px) {

    .place__title {
        max-width: 90%;
        margin: auto;
        padding-left: 0;
    }
}

@media screen and (max-width: 767px) {

    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px;
    }
}

.place__website {
    align-self: end;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .place__website {
        padding: 0 16px;
    }
}

@media screen and (max-width: 640px) {
    .place__website {
        margin-bottom: 32px;
        margin-left: 22px;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        max-width: 90%;
        margin: 0 auto 32px;
    }
}

.place__url-heading {
    color: #aaa;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    margin: 0;
    margin-bottom: 12px;
    letter-spacing: 2px;
}


@media screen and (max-width: 640px) {
    .place__paragraph-image {
        max-width: 90%;
        margin: 28px auto 25px;
    }
}

.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    padding-bottom: 26px;
    color: #fff;

}

.place__paragraph:hover {
    opacity: 0.5;
}

.place__paragraph:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        max-width: 352px;
    }
}

.place__image {
    max-width: 100%;
}

.place__image:hover {
    opacity: 0.5;
    /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
    transform: scale(1.05);
    /* Увеличение картинки */
}

.place__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    margin: 0;
    color: #fff;
}

.place__link:hover {
    opacity: 0.5;
    color: orange;
}

.cover {
    width: 100%;
    margin: 0 auto;
    min-height: 740px;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
        margin-top: 18px;
    }
}

.cover__title {
    max-width: 560px;
    width: 100%;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}

.cover__subtitle {
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 2;
    margin-top: 32px;
    padding: 0;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        padding-top: 16px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 268px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}

.cover__overlay {
    width: 100%;
    min-height: 740px;
    background-image: url(./images/cover-trains.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 0;
}



@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
    }
}

.cover__overlay:hover {
    content: "";
    background-color: #2a2c2f;
    opacity: 0.3;
}


.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
}

@media screen and (min-width: 767px) {
    .footer {
        padding: 88px 24px 24px 24px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        width: calc(100% - 2*24px);
    }
}


.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media screen and (min-width: 768px) {
    .footer__menu {
        flex-direction: row;
        gap: 18px;
    }
}

.footer__link {
    font-size: 24px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    margin: 0;
}

.footer__link:hover {
    opacity: .8;
}

@media screen and (min-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 1.12;
    }
}

.footer__copyright {
    font-size: 14px;
    line-height: 1;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .footer__copyright {
        margin: 0;
        line-height: 1.14;
    }
}