.place__image {
    margin: 0;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .place__image:hover {
    opacity: 0.5;
    /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
    transform: scale(1.05);
    /* Увеличение картинки */
}
  
  @media screen and (max-width: 767px) {
    .place__image   {
      margin: 0 auto;
    }
  }