.header__lang-link {
    max-height: 28px;
    width: 100%;
    padding-left: 18px;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

.header__lang-link:first-child {
    padding-left: 0;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}