.lead {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2 * 148px);
    align-items: center;
    margin: 0 auto 92px;
  }
  
  @media screen and (max-width: 1024px) {
    .lead {
      width: calc(100% - 2 * 48px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead {
      width: 100%;
      margin-bottom: 91px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .lead {
      margin: 0 auto 64px;
    }
  }
