.cover__subtitle {
    color: #fff;
    margin: 32px 0 0;
    padding: 0;
    max-width: 360px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    z-index: 2;
  
  }
  
  @media screen and (max-width: 768px) {
    .cover__subtitle {
      font-size: 18px;
      line-height: 22px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover__subtitle {
      max-width: 268px;
      font-size: 14px;
      line-height: 16px;
      margin-top: 16px;
    }
  }