.photo-grid__item {
  display: block;
  width: 100%;
  height: 100%;
  }


.photo-grid__item:hover {
    opacity: 0.5;
    /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
    transform: scale(1.05);
    /* Увеличение картинки */
}