.footer__link {
    color: #fff;
    margin: 0;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
    
}

.footer__link:hover {
    opacity: .8;
}

@media screen and (min-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 1.12;
    }
}