.footer__copyright {
    color: #fff;
    line-height: 1;
    font-size: 14px;
    
}

@media screen and (min-width: 768px) {
    .footer__copyright {
        margin: 0;
        line-height: 1.14;
    }
}