.intro__text {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    margin: 40px 0 33px;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .intro__text {
        max-width: none;
    }
}

@media screen and (max-width: 768px) {
    .intro__text {
        margin: 39px 0 33px;
        max-width: 720px;
    }
}