.footer {
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    align-items: flex-end;
    
}

@media screen and (min-width: 767px) {
    .footer {
        padding: 88px 24px 24px 24px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        width: calc(100% - 2*24px);
    }
}